.fs-66-700 {
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.fs-21-300 {
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 29.4px */
}