.l-calc__section {
    margin-bottom: 100px;
}

.q-calc {
    border-radius: 50px;
    padding: 24px 32px;
    background: #154141;

    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1240px) {
        border-radius: 10px;
    }
    @media screen and (max-width: 520px) {
        padding: 20px;
    }
}

.q-calc__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 120px 120px 150px;
    align-items: center;
    gap: 28px;
    width: 100%;
    @media screen and (max-width: 1240px) {
        grid-template-columns: 1fr 1fr 1fr;
        li {
            &:last-child {
                margin: 0 auto;
                width: fit-content;
            }
            &:nth-child(3) {
                border-right: unset;
            }
        }
    }
    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr 1fr;
        li {
            &:nth-child(2),
            &:nth-child(4) {
                border-right: unset;
            }
            &:nth-child(3) {
                border-right: 1px solid #ffffff1a;
            }
        }
    }
    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
        gap: 20px;
        li {
            border-right: unset !important;
            border-bottom: 1px solid #ffffff1a;
            padding-bottom: 20px;
            &:last-child {
                border-bottom: unset;
                margin-top: 20px;
            }
        }
    }
    &.active {
        li {
            &:not(:first-child) {
                pointer-events: all;
                opacity: 1;
            }
        }
    }
    li {
        &:not(:first-child) {
            pointer-events: none;
            opacity: 0.3;
        }
        &:last-child {
            margin-left: auto;
            width: fit-content;
        }
    }
}

.q-calc__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-right: 1px solid #ffffff1a;
    padding-right: 28px;
    width: 100%;
    position: relative;
    cursor: pointer;
    &:last-child {
        border-right: unset;
        padding-right: unset;
    }
    .l-title {
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.q-calc__item-content {
    position: absolute;
    top: 85px;
    left: -20px;
    display: none;
    flex-direction: column;
    gap: 24px;
    padding: 20px 30px;
    border-radius: 20px;
    background: rgba(21, 65, 65, 0.8);
    width: auto;
    white-space: nowrap;

    backdrop-filter: blur(8px);
    overflow: hidden;
    pointer-events: none;
    @media screen and (max-width: 1240px) {
        &.active {
            background: rgba(21, 65, 65);
            backdrop-filter: blur(8px);
            border: 1px solid rgba(255, 255, 255, 0.295);
            z-index: 1;
        }
    }
    &.active {
        display: flex;
        overflow: visible;
        pointer-events: all;
    }
    span {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }
}
.q-calc__item-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    .l-name {
        max-width: 180px;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        word-break: break-all;
        @media screen and (max-width: 480px) {
            font-size: 18px;
        }
    }
    .l-icon__arrow {
        min-width: 20px;
        max-width: 20px;
        width: 100%;
        height: 20px;
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Ccircle cx='10' cy='10' r='10' fill='%233B5F5F'/%3E%3Cpath d='M10 15L14.3301 7.5H5.66987L10 15Z' fill='white'/%3E%3C/svg%3E");
    }
}

.q-calc__action {
    opacity: 0.5;
    pointer-events: none;
    &.active {
        pointer-events: all;
        opacity: 1;
    }
}

.q-calc-number {
    border: none;
    background: transparent;
    width: 100%;
    color: #fff;
    max-width: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    @media screen and (max-width: 1240px) {
        max-width: 100px;
    }
    @media screen and (max-width: 480px) {
        font-size: 18px;
    }
    &:focus-visible {
        outline: none;
    }
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.q-calc__number-input {
    display: flex;
    align-items: center;
    gap: 2px;
    white-space: nowrap;

    span {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        @media screen and (max-width: 480px) {
            font-size: 18px;
        }
    }
}

.l-calc__summ-content {
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 64px;
    align-items: center;
    border-radius: 10px;
    background: #fff;
    margin-top: 70px;
    hr {
        display: none;
    }
    @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
        gap: 24px;
        hr {
            display: block;
            width: 100%;
            margin: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.295);
        }
    }
    .l-space-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 600px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
    }
    .l-summ__item {
        display: flex;
        gap: 16px;
        align-items: center;
        svg {
            min-width: 32px;
        }
    }
    .l-text {
        color: #000;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &.l-14 {
            font-size: 14px;
        }
        &.l-21 {
            font-size: 21px;
            @media screen and (max-width: 768px) {
                font-size: 18px;
            }
        }
        &.l-28 {
            font-size: 28px;
            font-weight: 600 !important;
            white-space: nowrap;
        }
    }
    .flex-col {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.l-calc__summ-oformleine {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 70px auto 0 auto;
    justify-content: center;
    @media screen and (max-width: 520px) {
        flex-direction: column;
    }
    .l-text {
        color: #000;
        font-size: 21px;
        font-weight: 400;
        line-height: normal;
    }
}

.l-main__calc {
    position: absolute;
    bottom: 0;
    left: auto;
    width: 100%;
    @media screen and (max-width: 425px) {
        display: none;
    }
}
