*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Raleway';
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: 16px;
}

html,
body {
	min-height: 100%;
	position: relative;
	background: #EEF6F5;
	overflow-x: hidden;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.l-wrapper {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 70px;
}

section:not(.l-banner, .l-wa, .l-inner) {
	margin-top: 100px;
}

.l-section__category {
	display: flex;
	align-items: center;
	gap: 25px;
	span {
		color: #AFD5CE;
		font-family: Raleway;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		white-space: nowrap;
	}
	.l-section__image {
		width: 100%;
		height: 23px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='23' viewBox='0 0 30 23' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 1.36634H0V0H30V1.36634ZM0 5.35149V3.98515H30V5.35149H0.661468V7.81059L2.20129 6.52377C2.48153 6.28958 2.88855 6.33954 3.11041 6.63536C3.33226 6.93118 3.28493 7.36085 3.0047 7.59504L0.661468 9.55327V11.9319L3.39419 9.7066C3.67719 9.47615 4.08358 9.5315 4.3019 9.83024C4.52022 10.129 4.46778 10.558 4.18478 10.7884L0.661468 13.6576V18.104H30V19.4703H0V18.104V13.6173V12.5V11.9173V9.55327V5.35149ZM30 23H0V21.6337H30V23Z' fill='%23CDE4E0'/%3E%3Cpath d='M24.1286 11.1586L22.372 6.80149C22.3271 6.68899 22.2522 6.59299 22.1564 6.52547C22.0606 6.45796 21.9482 6.4219 21.8333 6.4218H20.0767V5.1769C20.0767 5.01182 20.015 4.8535 19.9052 4.73677C19.7953 4.62003 19.6464 4.55446 19.4911 4.55446H8.36591C8.21061 4.55446 8.06168 4.62003 7.95187 4.73677C7.84206 4.8535 7.78037 5.01182 7.78037 5.1769V15.7585C7.78037 15.9236 7.84206 16.0819 7.95187 16.1987C8.06168 16.3154 8.21061 16.381 8.36591 16.381H9.61896C9.7538 16.9084 10.0482 17.374 10.4566 17.706C10.8651 18.038 11.365 18.2178 11.8791 18.2178C12.3933 18.2178 12.8932 18.038 13.3016 17.706C13.7101 17.374 14.0045 16.9084 14.1393 16.381H17.8165C17.9513 16.9084 18.2457 17.374 18.6542 17.706C19.0626 18.038 19.5625 18.2178 20.0767 18.2178C20.5908 18.2178 21.0907 18.038 21.4992 17.706C21.9076 17.374 22.202 16.9084 22.3368 16.381H23.5899C23.7452 16.381 23.8941 16.3154 24.0039 16.1987C24.1137 16.0819 24.1754 15.9236 24.1754 15.7585V11.4014C24.1753 11.318 24.1593 11.2354 24.1286 11.1586ZM20.0767 7.6667H21.4468L22.6999 10.7789H20.0767V7.6667ZM11.8791 17.0034C11.6475 17.0034 11.4211 16.9304 11.2285 16.7936C11.0359 16.6568 10.8858 16.4624 10.7972 16.2349C10.7086 16.0075 10.6854 15.7571 10.7306 15.5157C10.7757 15.2742 10.8873 15.0524 11.0511 14.8783C11.2148 14.7042 11.4235 14.5856 11.6507 14.5376C11.8778 14.4895 12.1133 14.5142 12.3273 14.6084C12.5413 14.7026 12.7242 14.8622 12.8528 15.0669C12.9815 15.2716 13.0502 15.5123 13.0502 15.7585C13.0502 16.0887 12.9268 16.4053 12.7072 16.6388C12.4876 16.8723 12.1897 17.0034 11.8791 17.0034ZM17.8165 15.1361H14.1393C14.0045 14.6086 13.7101 14.143 13.3016 13.8111C12.8932 13.4791 12.3933 13.2992 11.8791 13.2992C11.365 13.2992 10.8651 13.4791 10.4566 13.8111C10.0482 14.143 9.7538 14.6086 9.61896 15.1361H8.95145V5.79935H18.9056V13.6173C18.639 13.7818 18.4055 14.0006 18.2186 14.2613C18.0317 14.5219 17.8951 14.8192 17.8165 15.1361ZM20.0767 17.0034C19.845 17.0034 19.6186 16.9304 19.426 16.7936C19.2335 16.6568 19.0834 16.4624 18.9947 16.2349C18.9061 16.0075 18.8829 15.7571 18.9281 15.5157C18.9733 15.2742 19.0848 15.0524 19.2486 14.8783C19.4124 14.7042 19.621 14.5856 19.8482 14.5376C20.0754 14.4895 20.3108 14.5142 20.5248 14.6084C20.7388 14.7026 20.9217 14.8622 21.0504 15.0669C21.1791 15.2716 21.2477 15.5123 21.2477 15.7585C21.2477 16.0887 21.1244 16.4053 20.9047 16.6388C20.6851 16.8723 20.3872 17.0034 20.0767 17.0034ZM23.0043 15.1361H22.3368C22.2074 14.603 21.9153 14.1305 21.5063 13.7926C21.0974 13.4548 20.5946 13.2705 20.0767 13.2687V12.0238H23.0043V15.1361Z' fill='%23CDE4E0'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 5.36634V4H29.3385V5.36634V7.82544L27.7987 6.53862C27.5185 6.30443 27.1114 6.35439 26.8896 6.65021C26.6677 6.94604 26.7151 7.3757 26.9953 7.60989L29.3385 9.56812V11.9468L26.6058 9.72146C26.3228 9.491 25.9164 9.54635 25.6981 9.8451C25.4798 10.1438 25.5322 10.5728 25.8152 10.8033L29.3385 13.6724V18.1188V19.4648H30V18.1188V13.6322V12.5149V11.9321V9.56812V5.36634Z' fill='%23CDE4E0'/%3E%3C/svg%3E");
		background-repeat: repeat;
		background-position-x: 5px;
	}
}

.l-section__title {
	margin-top: 48px;
	max-width: 80%;
	* {
		color: #09595D;
		font-family: Raleway;
		font-size: 42px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
}

.btn {
	border: 1px solid;
	border-radius: 30px;
	padding: 14px 28px;

	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	&.btn-white {
		border-color: #FFFFFF;
		color: #FFFFFF;
	}
	&.btn-yellow {
		border: none;
		background: #FFAE27;
		color: #FFFFFF;
	}
	&.btn-green {
		border: 1px solid #3AC4A7;
		color: #3AC4A7;
		&.active {
			border: none;
			background: #3AC4A7;
			color: #FFFFFF;
		}
	}
	&.btn-wa {
		border: none;
		background: #FFF;
		color: #0B7075;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
}

.text-white {
	color: #FFFFFF;
}

::selection {
	background: #3AC4A7;
	color: #FFF;
}
::-moz-selection {
	background: #3AC4A7;
	color: #FFF;
}