
<div class="l-breadcrumbs">
  <div class="l-wrapper">
    <ul>
      <li>
        <a href="#">
          <svg>
            <use xlink:href="img/sprite.svg#sprite--breadcrumb-home" />
          </svg>
        </a>
      </li>
      <li>
        <svg>
          <use xlink:href="img/sprite.svg#sprite--breadcrumb-separator" />
        </svg>
      </li>
      <li>
        <a href="#">
          Контакты
        </a>
      </li>
      <li>
        <svg>
          <use xlink:href="img/sprite.svg#sprite--breadcrumb-separator" />
        </svg>
      </li>
      <li>
        <span>
          span Контакты
        </span>
      </li>
      <div class="l-section__category">
        <div class="l-section__image"></div>
      </div>
    </ul>
  </div>
</div>