<footer class="l-footer">
  <div class="l-wrapper">
    <div class="l-footer__container">
      <div class="l-footer__top">
        <div class="l-footer__top-grid">
          <div class="l-footer__top-col">
            <div class="l-footer__top-logo">
              <a href="/">
                <svg>
                  <use xlink:href="img/sprite.svg#sprite--footer_logo" />
                </svg>
              </a>
            </div>
            <div class="l-footer__top-action mob-hidden">
              <a class="btn btn-yellow" href="#">Оформить заказ</a>
            </div>
          </div>
          <div class="l-footer__top-col">
            <div class="l-footer__top-nav">
              <nav>
                <ul>
                  <li><a href="#">О компании</a></li>
                  <li><a href="#">Услуги и тарифы</a></li>
                  <li><a href="#">Новости</a></li>
                  <li><a href="#">Документы</a></li>
                  <li><a href="#">Контакты</a></li>
                  <li><a href="#">Отзывы</a></li>
                  <li><a href="#">Калькулятор</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="l-footer__top-col">
            <div class="l-footer__top-contacts">
              <ul>
                <li>
                  <a href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#sprite--footer_tel" />
                    </svg> 
                    +7-968-150-70-02
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#sprite--footer_mail" />
                    </svg> 
                    aian@mail.ru
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="l-footer__top-col">
            <div class="l-footer__top-action">
              <a class="btn btn-yellow" href="#">Оформить заказ</a>
            </div>
          </div>
        </div>
      </div>
      <div class="l-footer__bottom">
        <div class="l-footer__bottom-grid">
          <div class="l-footer__bottom-item">
            <a href="#">Политика конфиденциальности</a>
          </div>
          <div class="l-footer__bottom-item">
            <span>© 2023  ООО ТК “АЙАН”</span>
          </div>
          <div class="l-footer__bottom-item">
            <a href="#" title="developed with ❤️">Сделано в Frostbyte</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-footer__patter"></div>
</footer>
