<header class="l-header">
  <div class="l-wrapper">
    <div class="l-header__content">
      <div class="l-header__logo">
          <a href="/">
            <svg>
              <use xlink:href="img/sprite.svg#sprite--logo" />
            </svg>
          </a>
      </div>
      <div class="l-header__nav">
        <nav>
          <ul>
            <li><a href="#">О компании</a></li>
            <li class="l-header__nav-dropdown-btn">
              <a href="#">Услуги и тарифы</a>
              <ul class="l-header__nav-dropdown-content">
                <li>
                  <a href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#sprite--service-1" />
                    </svg>
                    Сборные автомобильные автогрузоперевозки
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#sprite--service-2" />
                    </svg>
                    Прямые автомобильные грузоперевозки
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg>
                      <use xlink:href="img/sprite.svg#sprite--service-3" />
                    </svg>
                    Железнодорожные грузоперевозки
                  </a>
                </li>
              </ul>
              <svg class="l-service__arrow">
                <use xlink:href="img/sprite.svg#sprite--service-arrow" />
              </svg>
            </li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Документы</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Калькулятор</a></li>
          </ul>
        </nav>
      </div>
      <div class="l-header__action">
        <a class="btn btn-white" href="#">Оформить заказ</a>
      </div>
      <div class="l-header__mob-nav">
        <svg class="open-burger">
          <use xlink:href="img/sprite.svg#sprite--burger" />
        </svg>
        <div class="l-header__mob-wrapper">
          <div class="l-header__mob-content">
            <div class="l-header__mob-header">
              <div class="l-header__action">
                <a class="btn btn-yellow" href="#">Оформить заказ</a>
              </div>
              <div class="l-header__mob__close">
                <a href="#">
                  <svg>
                    <use xlink:href="img/sprite.svg#sprite--burger-close" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="l-header__mob-body">
              <nav>
                <ul>
                  <li>
                    <a href="#">О компании</a>
                  </li>
                  <li class="l-header__nav-dropdown-btn">
                    <a href="#">Услуги и тарифы</a>
                    <ul class="l-header__nav-dropdown-content">
                      <li>
                        <a href="#">
                          <svg>
                            <use xlink:href="img/sprite.svg#sprite--service-1" />
                          </svg>
                          Сборные автомобильные автогрузоперевозки
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg>
                            <use xlink:href="img/sprite.svg#sprite--service-2" />
                          </svg>
                          Прямые автомобильные грузоперевозки
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg>
                            <use xlink:href="img/sprite.svg#sprite--service-3" />
                          </svg>
                          Железнодорожные грузоперевозки
                        </a>
                      </li>
                    </ul>
                    <svg class="l-service__arrow">
                      <use xlink:href="img/sprite.svg#sprite--service-arrow" />
                    </svg>
                  </li>
                  <li>
                    <a href="#">Новости</a>
                  </li>
                  <li>
                    <a href="#">Документы</a>
                  </li>
                  <li>
                    <a href="#">Контакты</a>
                  </li>
                  <li>
                    <a href="#">Отзывы</a>
                  </li>
                  <li>
                    <a href="#">Калькулятор</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="l-header__mob-footer">
              <div class="l-header__mob-contacts">
                <ul>
                  <li>
                    <a href="#">
                      <svg>
                        <use xlink:href="img/sprite.svg#sprite--footer_tel" />
                      </svg> 
                      +7-968-150-70-02
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg>
                        <use xlink:href="img/sprite.svg#sprite--footer_mail" />
                      </svg> 
                      aian@mail.ru
                    </a>
                  </li>
                </ul>
              </div>
              <div class="l-header__mob-links">
                <ul>
                  <li>
                    <a href="#">Политика конфиденциальности</a>
                  </li>
                  <li>
                    <span>© 2023  ООО ТК “АЙАН”</span>
                  </li>
                  <li>
                    <a href="#" title="developed with ❤️">Сделано в Frostbyte</a>
                  </li>
                </ul>
              </div>
              <div class="l-footer__patter"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
