<header class="l-header">
  <div class="l-wrapper">
    <div class="l-header__content">
      <div class="l-header__logo">
          <a href="/">
            <svg>
              <use xlink:href="img/sprite.svg#sprite--logo" />
            </svg>
          </a>
      </div>
      <div class="l-header__nav">
        <nav>
          <ul>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Услуги и тарифы</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Документы</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Калькулятор</a></li>
          </ul>
        </nav>
      </div>
      <div class="l-header__action">
        <a class="btn btn-white" href="#">Оформить заказ</a>
      </div>
    </div>
  </div>
</header>
